@use '../abstracts'

.features
    grid-column: center-start / center-end

    margin: 15rem 0

    display: grid
    // grid-template-columns: repeat(3 , 1fr)
    //responsive colums 
    grid-template-columns: repeat( auto-fit , minmax(25rem, 1fr) )
    grid-gap: 6rem

    /*remove space betwen heading and the text when the grid shrink */
    align-items: start

    // Applies styles when the user has made no preference known
    @media screen and (prefers-reduced-motion: no-preference)

        &.animate
            &-is-intersect
                & > *
                    transform: none
                    opacity: 1
            &-is-not-intersect
                & > *
                    transform: scale3d(1.5, 1.5, 1.5)
                    opacity: 0

.feature
    $durations: 300ms
    transition: transform $durations ease-out,opacity 2*$durations ease-out
    display: grid
    grid-template-columns: min-content 1fr
    gap: 1.5rem 2.5rem
    &__icon
        grid-row: 1 / span 2
        fill: abstracts.$primary
        width: 4.5rem
        height: 4.5rem
        transform: translateY(-1rem)
    &__text
        font-size: 1.7rem
